@charset "UTF-8";
/*======================Estilos generales=====================*/
body {
  background-color: #303030;
  color: #fff;
  margin: 0%;
  padding: 0%; }

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: inline-block; }

h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif; }

h3 {
  color: #c19d60;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

p {
  color: #d3d3d3;
  font-family: 'Montserrat', sans-serif; }

/*======================Estilos Index=====================*/
/* Sección nuestra Historia*/
.contenedorHistoria {
  padding: 100px; }

/* Sección nuestros Horarios*/
.contenedorHorarios {
  background-color: #212121;
  padding: 120px; }

/* Sección nuestro Equipo*/
.contenedorEquipo {
  padding: 40px; }

.contTitle {
  margin-bottom: 120px; }

.card {
  border-color: #c19d60; }

.card-body {
  background-color: #212121; }

.contenedorTarjeta {
  margin-bottom: 20px; }

/* Sección nuestra Historia*/
/* Sección Eventos*/
.contenedorEventos {
  background-color: #212121;
  padding: 100px; }

/* Sección Clientes*/
.contenedorClientes {
  padding: 100px; }

.border-radius {
  border-radius: 50%; }

.contenedorTextoClientes {
  margin-top: 60px;
  margin-bottom: 60px; }

/*======================Estilos Sobre Nosotros=====================*/
/* Sección nuestra Historia*/
.contenedorSeccHistoria {
  padding: 100px; }

.contenedorIconosMercado {
  background-color: #212121;
  padding: 60px;
  height: auto; }

.imgNosotros {
  margin-bottom: 20px;
  width: 50px; }

/* Sección Presencia en el mercado*/
.imgNosotros {
  width: 80px; }

.contP {
  margin-top: 100px; }

/*======================Estilos Contacto=====================*/
/* texto contacto*/
/* Formulario*/
.containerForm {
  padding: 100px; }

/*======================Estilos galería=====================*/
#galeria .col-lg-4 {
  padding: 25px; }

#galeria img {
  width: 100%;
  height: auto; }

#galeria img:hover {
  border: 5px solid #212121; }

.containerGaleria {
  padding: 100px; }

.titulo {
  margin-bottom: 80px; }

.contenedorGaleria {
  margin-top: 30px;
  margin-bottom: 30px; }
  .contenedorGaleria .contenedorGaleria_img {
    margin-top: 30px; }

/*======================Estilos Menú=====================*/
/*======================Estilos Footer=====================*/
.pie-pagina {
  width: 100%;
  background-color: #0a141d; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .pie-pagina .grupo-1 .box .figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1 .box .figure .imgLogo {
        width: 150px; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1 .red-social a:hover {
        color: #c19d60; }
  .pie-pagina .grupo-2 {
    background-color: #c19d60;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center; } }
